<div class="search-button">
  <div class="search">
    <i class="icon-search"></i>
    {{e-button title='SEARCH'}}
  </div>
  <div class="showActivity">
    <span class="channel-activity"></span> activities <span class="date-activity"></span>
  </div>
</div>
{{yield}}