<div class="nav-link" id="nav-link">
  {{#link-to "details.index"}}
    <i class="icon-info"></i>
    <span>Details</span>
  {{/link-to}}
  {{#link-to "details.participants"}}
    <i class="icon-people-outline"></i>
    <span>Participants</span>
  {{/link-to}}
  {{#link-to "details.comments"}}
    <i class="icon-comment-outline"></i>
    <span>Comments</span>
  {{/link-to}}
</div>
{{yield}}