{{#if model.isRenderPast}}
  <ul class="event-list">
    {{#each model.past as |item|}}
      {{#link-to "details" item.id}}
        <li>
          {{event-list item=item}}
        </li>
      {{/link-to}}
    {{/each}}
  </ul>
{{else}}
{{no-result}}
{{/if}}
{{outlet}}